{% extends 'core/base.html' %}
{% load static %}
{% block principal %}


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'core/img/fon.jpg'%}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Listado</h6>


                    <h1 class="mb-4">Listado Noticias</h1>
                    {% load crispy_forms_tags %}
                    <form action="" method="POST" enctype="multipart/form-data">
                     {% csrf_token %}
                    <table>
                    {{ form | crispy }}
                    </table>
                    <br>
                    {% if user.is_staff %}
                    <input class= "btn btn-success" style="border-radius: 10px;" type="submit" value="modificar">
                    {% endif %}
                    </form>
                    <br>
                    <h5>{{ msj }}</h5>
                     
                    <a class="btn btn-primary py-3 px-5 mt-2" style="border-radius: 10px;" href="{%url 'solicitud' %}">Atrás</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">EQUIPO</h6>
                <h1 class="mb-5">Nuestros Periodistas</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'core/img/team-1.jpg'%}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        </div>
                        <div class="text-center p-4">
                            <br>
                            <h5 class="mb-0">Jaime López</h5>
                            <small>Cultura</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'core/img/team-2.jpg'%}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        </div>
                        <div class="text-center p-4">
                            <br>
                            <h5 class="mb-0">Estefanía Gonzalez</h5>
                            <small>Internacional</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'core/img/team-3.jpg'%}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        </div>
                        <div class="text-center p-4">
                            <br>
                            <h5 class="mb-0">Fernando Burgos</h5>
                            <small>Deporte</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'core/img/team-4.jpg'%}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        </div>
                        <div class="text-center p-4">
                            <br>
                            <h5 class="mb-0">Fernanda Pino</h5>
                            <small>Cultura</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

{% endblock %}




















