{% extends 'core/base.html' %}
{% load static %}
{% block principal %}


 <!-- INICIO NOTICIA 1 -->
 <div class="container-xxl py-5">
    <div class="container p-5 border shadow p-4 mb-4">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'core/img/monja.avif' %}" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Carlos Fresneda - 10 Abril 2024</h6>
                <h1 class="mb-4">El “pacto” entre religiosas que terminó con un cuerpo en una maleta en Ñuñoa</h1>
                <p class="mb-4" style="text-align: justify;">La fiscalía y la PDI entregaron detalles del hallazgo de restos humanos en calle Los Talaveras. "Es un caso que no vemos habitualmente”, dijo el fiscal Lanas.</p>
                <p class="mb-4" style="text-align: justify;">Fiscalía investiga el hallazgo de restos humanos en la comuna de Ñuñoa. El lunes, en calle Los Talaveras, se ubicó una maleta que en su interior tenía una bolsa con un cráneo y otras partes humanas.</p>
                <p class="mb-4" style="text-align: justify;">El detective dijo que el motivo de llevar los restos hasta la casa de Los Jardines fue porque sería el “domicilio de origen”. 
                    Asimismo, dijo que habría dejado la maleta en la calle porque “entendemos que debió haber tenido un episodio, una especie de trastorno en algún momento de consciente. 
                    Ella denota que su amiga está en una maleta y quiere darle una sepultura. Ese es el motivo que indica ella, que la deja en una esquina para que se le dé una sepultura”.</p>
                <p class="mb-4" style="text-align: justify;">“En el transcurso de algunos años, ella inicia una enfermedad. Una enfermedad que nunca se trató. Y en ese contexto, ellas hacen esta especie de pacto como de aislarse del mundo. ”, explicó por su parte el fiscal Lanas.</p>
                <p class="mb-4" style="text-align: justify;">Mientras el cuerpo estaba oculto en una bodega, una hija de la monja llegó desde el extranjero hasta la vivienda. Esta sería una de las motivaciones, dijo el fiscal, por las que la mujer sacó el cuerpo de esa residencia. “Ella no aborda específicamente el porqué esperó un año”.</p>
                <p class="mb-4" style="text-align: justify;">Asimismo, señaló que no se detectaron signos de violencia, de fractura, de apuñalamiento o de descuartizamiento. “Sería preliminarmente muerte natural”. “No hay un cuerpo desmembrado, no hay una organización criminal detrás. Efectivamente es un caso que no vemos habitualmente”.</p>
                <p class="mb-4" style="text-align: justify;">El persecutor señaló que no se podía imputar el delito de inhumación ilegal debido a que dicho cargo implicaba un entierro, y en este caso no lo hubo. Lo que hubo, dijo, fue el ocultamiento de un cuerpo. Lo que sí hubo es una infracción sanitaria. El persecutor comentó que la investigación continúa en curso. “No podemos descartar que sea formalizada, pero no en un tiempo inmediato”.
                    La mujer de 80 años prestó declaración como imputada y su hija como testigo.</p>
            </div>
        </div>
    </div>
</div>
<!-- FIN NOTICIA 1-->





{% endblock %}