{% extends 'core/base.html' %}
{% load static %}
{% block principal %}



<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voucher de Pago</title>
    <style>
        /* Estilos CSS para tu voucher */
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .voucher {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
        }
        /* Otros estilos según sea necesario */
    </style>
</head>
<body>
    <div class="voucher">
        <!-- Contenido del voucher -->
        <h2>Voucher de Pago</h2>
        <p>¡Gracias por tu Suscripción!</p>
        <p>DETALLE DEL PAGO $ 5.00 USD</p>
        <p>Aquí está tu voucher imprimible.</p>
    </div>

    <button onclick="window.print()">Imprimir</button>
</body>
</html>

{% endblock %}
