{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CaosNews</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'core/img/news_logo.png' %}" rel="icon">
    <link href="{% static 'core/img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'core/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet">

    <script src="{% static 'core/https://www.paypal.com/sdk/js?client-id=YOUR_CLIENT_ID&currency=USD' %}"></script>
</head>

<body>


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="{% static 'core/img/news_logo.png'%}" alt="" width="165" height="165">
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0" >

                
                <a href="{% url 'index' %}" class="nav-item nav-link active">Inicio</a>
                <a href="{% url 'cultura' %}" class="nav-item nav-link">Cultura</a>
                <a href="{% url 'deportes' %}" class="nav-item nav-link">Deportes</a>
                <a href="{% url 'internacional' %}" class="nav-item nav-link">Internacional</a>
                <a href="{% url 'economia' %}" class="nav-item nav-link">Economía</a>
                <div class="nav-item dropdown">

                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Noticias</a>
                            <div class="dropdown-menu fade-down m-0">
                                <a href="{% url 'noticias' %}" class="dropdown-item">Listado Noticias</a>
                                <a href="{% url 'periodistas' %}" class="dropdown-item">Listado Periodistas</a>
                                <a href="{% url 'noticiasadd' %}" class="dropdown-item">Agregar Noticia</a>
                                <a href="{% url 'periodistasadd' %}" class="dropdown-item">Agregar Periodista</a>
                                <a href="{% url 'solicitud' %}" class="dropdown-item">Administrar Solicitudes</a>
                                <a href="{% url 'periodistasapi' %}" class="dropdown-item">Periodistas API</a>
                                
                                
                            </div>
                        {% endif %}

                        {% for group in user.groups.all %}
                            {% if group.name == "Periodista" %}
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Noticias</a>
                            <div class="dropdown-menu fade-down m-0">
                                <a href="{% url 'solicsadd' %}" class="dropdown-item">Enviar Noticia</a> <!-- ARREGLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAR -->
                                <a href="{% url 'solicitud' %}" class="dropdown-item">Solicitudes</a>
                                
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Login</a>
                    <div class="dropdown-menu fade-down m-0">
                        {% if user.is_authenticated %} 
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Cerrar sesión" class="dropdown-item">
                        </form>
                        {% else %}
                        <a href="{% url 'register' %}" class="dropdown-item">Registrarse</a>
                        <a href="{% url 'login' %}" class="dropdown-item">Iniciar sesión</a>

                        {% endif %}
                        
                    </div>
                </div>
                <a href="{% url 'contacto' %}" class="nav-item nav-link">Contacto</a>
                <a href="{% url 'servicios' %}" class="nav-item nav-link">Suscripciones</a>
            </div>
            {% if user.is_authenticated %} 
            <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block bi bi-person-fill" >{{ user.username }}</a>
            {% else %}
            <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block" >Invitado<i class="bi bi-person-fill ms-3"></i></i></a>
            {% endif %}
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
               {% block principal %}

               {% endblock %}
            </div>
        </div>
    </div>
    <!-- Service End -->

        

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Nosotros</h4>
                    <a class="btn btn-link" href="{% url 'contacto' %}">¿Quiénes Somos?</a>
                    <a class="btn btn-link" href="{% url 'contacto' %}">Contáctanos</a>
                    <a class="btn btn-link" href="{% url 'contacto' %}">Políticas de Privacidad</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contacto</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Av. Concha y Toro 1340, Puente Alto</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>22354 0900</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>caos.news@gmail.com</p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Gallery</h4>
                    <a class="btn btn-link" href="{% url 'galeria' %}">Ver Galería</a>
                    <div class="row g-2 pt-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="{% static 'core/img/1.jpg' %}" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="{% static 'core/img/cultura.jpg' %}" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="{% static 'core/img/economia.png' %}" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="{% static 'core/img/alcalde.jpeg' %}" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="{% static 'core/img/carabinero.jpg' %}" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="{% static 'core/img/dolar.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
     
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Déjanos tu Correo!</h4>

                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="ejemplo@gmail.com">
                        <button type="button" style="border-radius: 10px;" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">CaosNews</a>, Todos los derechos reservados.
                        <br>
                        Diseñado por: Caos News 
                        <br>
                        Distribuido por: Caos News 
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="{% url 'index' %}">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'core/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'core/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'core/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'core/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'core/js/main.js' %}"></script>


    {% block js %}
    <script src="{% static 'core/js/funciones.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% endblock %}


    {% if messages %}
        {% for aux in messages %}
            <script>
                const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
                });
                Toast.fire({
                icon: "{{ aux.tags }}",
                title: "{{ aux }}"
                });
            </script>
        {% endfor %}
    {% endif  %}
</body>

</html>
